In [3]:
import numpy as np
import nbimporter

In [8]:
from LinearRegression import theoricalRange
%store -r tidy_df

Since the data is the same of the last model, I will go to the pre trained already

In [13]:
pre_trained_df = tidy_df.sort_index()
pre_trained_df

        h     H      R
0    17.8  30.0  22.75
1    17.8  30.0  22.90
2    17.8  30.0  22.75
3    17.8  30.0  22.75
4    17.8  30.0  22.65
..    ...   ...    ...
380  17.9  25.0  17.05
381  17.9  25.0  16.85
382  17.9  25.0  17.00
383  17.9  25.0  17.15
384  17.9  25.0  17.20

[230 rows x 3 columns]

In [14]:
X, y = pre_trained_df.iloc[:, :-1], pre_trained_df.iloc[:, -1]

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score